<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RabbitMQ Demo</title>
</head>
<body>
    <h1>Welcome to the RabbitMQ Demo!</h1>
    <h2>Message Sent: </h2>
    <p>{{ message }}</p>
    <h2>Generated Names and Addresses:</h2>
    <ul>
        {% for person in names %}
            <li><strong>{{ person.name }}</strong><br> {{ person.address }}</li>
        {% endfor %}
    </ul>
</body>
</html>
